[Unit]
Description=Axia go client
After=syslog.target network.target

[Service]
User=axia
Type=simple
Environment=HOME=/home/axia
ExecStart=/usr/local/bin/axia --config-file /etc/axia/conf.json
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
LimitNOFILE=65000

[Install]
WantedBy=multi-user.target
